@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  --control-font-family: 'Lato', sans-serif;
  --body-font-family: 'Montserrat', sans-serif;
  --backcolor1: #dd4498;
  --backcolor2: #2c2c2c;
  --backcolor3: rgba(76, 76, 76, 0.6);
  --fontcolor1: #fff;
  --fontcolor2: rgb(132, 172, 228);
}

* {
  font-family: var(--control-font-family);
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin-top: 3.8rem;
  background-color: var(--backcolor2);
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  padding: 1rem;
  border-bottom: solid 1px #e8e8e8;
  background-color: var(--backcolor2);
  color: var(--fontcolor1);
}

nav .div-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

nav .logo-text {
  align-items: center;
  font-weight: bold;
  font-size: 22px;
  height: 2rem;
}

nav .logo-text .white-text {
  color: var(--fontcolor1);
  font-weight: 400;
}

nav .logo-text .blue-text {
  color: var(--fontcolor2);
}

nav .logo-img {
  align-items: center;
  font-weight: bold;
  height: 2.5rem;
}

.navbar {
  display: flex;
  margin-top: 2rem;
  margin-right: 22px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: var(--fontcolor1);
  padding: 5px 8px 8px 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.navbar .active {
  background-color: var(--backcolor1);
}

.navbar li {
  transition: 0.2s ease-in-out;
}

.navbar li:hover {
  transform: scale(1.05);
}

.navbar li:active {
  transform: scale(0.95);
}

/* @media (max-width: 600px) and (orientation: portrait) {
  nav {
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }

  nav .div-logo {
    gap: 0.5rem;
  }

  nav .logo {
    align-items: center;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1rem;
    height: 2rem;
    width: 80px;
  }

  nav .logo-img {
    align-items: center;
    font-weight: bold;
    font-size: 0.8rem;
    height: 2rem;
  }

  .navbar {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0.5rem;
    font-size: 0.8rem;
  }
} */
